.nav.navbar-default.navbar-top
  .container-fluid
    .navbar-header
      %button.navbar-toggle{"aria-controls" => "navbar", "aria-expanded" => "true", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "RecruitmentWebAPP", root_path, class: 'navbar-brand'
    #navbar.navbar-collapse.collapse
      -if user_signed_in? && current_user.admin?
        %ul.nav.navbar-nav
          %li.dropdown
            = link_to '#', class: 'dropdown-toggle', 'aria-expanded' => 'false', 'aria-haspopup' => 'true', 'data-toggle' => 'dropdown', role: 'button' do
              = t('navbar.admin')
              %span.caret
            %ul.dropdown-menu
              %li
                = link_to t('navbar.admin_panel'), admin_path
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li
            = link_to t('navbar.logout'), destroy_user_session_path, method: :delete
        - else
          %li
            = link_to t('navbar.signin'), new_user_session_path
          %li
            = link_to t('navbar.signup'), new_user_registration_path
